repos:
  {%- if cookiecutter.commit_lint_files_check == "yes" %}
  # Grupo 01: Formato de archivos
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: format-trailing-whitespace
      - id: end-of-file-fixer
        name: format-end-of-file
      - id: mixed-line-ending
        name: format-mixed-line-ending
        args: [--fix=lf]
      - id: fix-byte-order-marker
        name: format-byte-order-marker
  {%- endif %}

  {%- if cookiecutter.commit_lint_exec_check == "yes" %}
  # Grupo 02: Verificación de ejecutables
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-executables-have-shebangs
        name: exec-check-shebang
      - id: check-shebang-scripts-are-executable
        name: exec-check-executable
  {%- endif %}

  {%- if cookiecutter.commit_lint_files_size_limit_mb != "0" %}
  # Grupo 03: Control de tamaño de archivos
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        name: size-check-large-files
        args: [--maxkb={{ (cookiecutter.commit_lint_files_size_limit_mb | float * 1024) | int }}]
  {%- endif %}

  {%- if cookiecutter.commit_lint_secrets_check == "yes" %}
  # Grupo 04: Detección de secretos
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: sec-detect-secrets
        exclude: package.lock.json
  {%- endif %}

  {%- if cookiecutter.commit_format != "no" %}
  # Grupo 05: Validación de commits
  - repo: local
    hooks:
      - id: commitlint
        name: commit-validate
        entry: .githooks/commitlint-wrapper.py
        language: python
        stages: [commit-msg]
  {%- endif %} 